Repository danwsc09/express-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add eslint-typescript and include scripts in pck.json
  .eslintignore
  .eslintrc
  .lintstagedrc
  .lintstagedrc.js
  package.json
  src/test.ts
  test.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix

add README
  README.md
Due: prettier --write

add dotenv, express, and ts-node
  .env
  .eslintrc
  .prettierrc
  nodemon.json
  package.json
  src/app.ts
  src/controllers/HomeController.ts
  src/controllers/index.ts
  src/index.ts
  src/interfaces/index.ts
  src/interfaces/vendor/express.ts
  src/middlewares/index.ts
  src/routes/index.ts
  src/test.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix

add pg and bcrypt
  .env
  package.json
  sql/init.sql
  src/app.ts
  src/controllers/UserController.ts
  src/controllers/index.ts
  src/db/index.ts
  src/middlewares/index.ts
  src/routes/index.ts
  yarn.lock
Due: eslint --fix

add post endpoint to create user
  sql/init.sql
  src/app.ts
  src/controllers/UserController.ts
  src/routes/index.ts
Due: eslint --fix

verbosely add primary key to posts and comments
  sql/init.sql
Due: none

clean up console log
  .env
  .gitignore
  src/controllers/UserController.ts
Due: eslint --fix

update README ,
  README.md
Due: prettier --write

add login endpoint and return jwt
  package.json
  src/app.ts
  src/constants/auth.ts
  src/controllers/UserController.ts
  src/interfaces/index.ts
  src/interfaces/user.ts
  src/middlewares/authenticator.ts
  src/middlewares/index.ts
  src/middlewares/timeLogger.ts
  src/routes/index.ts
  yarn.lock
Due: eslint --fix

authenticate using token; wip need to fix type error
  src/app.ts
  src/constants/auth.ts
  src/middlewares/authenticator.ts
  src/routes/index.ts
Due: eslint --fix

update token checking middleware
  src/middlewares/authenticator.ts
Due: eslint --fix

can read posts (non users) and create posts (users)
  src/constants/auth.ts
  src/controllers/PostController.ts
  src/controllers/index.ts
  src/middlewares/timeLogger.ts
  src/routes/constants.ts
  src/routes/index.ts
  src/utils/getEmailFromToken.ts
Due: eslint --fix

delete post endpoint
  src/controllers/PostController.ts
  src/routes/index.ts
Due: eslint --fix

add user type to request
  src/controllers/PostController.ts
  src/controllers/UserController.ts
  src/interfaces/index.ts
  src/interfaces/user.ts
  src/interfaces/vendor/express.ts
  src/middlewares/authenticator.ts
Due: eslint --fix

add jest and ts-jest
  package.json
  yarn.lock
Due: none

guard DELETE/EDIT post api, EDIT post WIP
  README.md
  src/controllers/PostController.ts
  src/interfaces/index.ts
  src/interfaces/post.ts
  src/routes/index.ts
Due: prettier --write, eslint --fix

fix issue with UPDATE POST api
  src/controllers/PostController.ts
Due: eslint --fix

add read & create comments API, add create/update_date to comments
  sql/init.sql
  src/controllers/CommentController.ts
  src/controllers/index.ts
  src/interfaces/comment.ts
  src/routes/constants.ts
  src/routes/index.ts
Due: eslint --fix

add sample data in sql init script
  sql/init.sql
Due: none

(pre) set up error handling middleware + source in readme
  README.md
  src/controllers/CommentController.ts
Due: prettier --write, eslint --fix

set up basic error related middlewares and interfaces
  src/interfaces/index.ts
  src/interfaces/vendor/express.ts
  src/middlewares/errorHandler.ts
  src/middlewares/index.ts
Due: eslint --fix

error template for other errors like auth and bad req
  src/app.ts
  src/interfaces/errors/index.ts
  src/interfaces/index.ts
Due: eslint --fix

error handling wip
  src/controllers/PostController.ts
  src/interfaces/errors/index.ts
  src/middlewares/authenticator.ts
  src/middlewares/errorHandler.ts
Due: eslint --fix

custom error handling by switching middleware order
  src/app.ts
  src/interfaces/errors/index.ts
  src/interfaces/index.ts
  src/middlewares/authenticator.ts
  src/middlewares/errorHandler.ts
Due: eslint --fix

use HttpException in PostController
  src/controllers/PostController.ts
Due: eslint --fix

use Next() to handle errors in CommentController
  src/controllers/CommentController.ts
Due: eslint --fix

experiment with redis
  package.json
  src/app.ts
  src/redis/index.ts
  yarn.lock
Due: eslint --fix

move to upper directory
  anon-forum/.eslintignore
  anon-forum/.eslintrc
  anon-forum/.gitignore
  anon-forum/.husky/pre-commit
  anon-forum/.lintstagedrc.js
  anon-forum/.prettierrc
  anon-forum/README.md
  anon-forum/nodemon.json
  anon-forum/package.json
  anon-forum/sql/init.sql
  anon-forum/src/app.ts
  anon-forum/src/constants/auth.ts
  anon-forum/src/controllers/CommentController.ts
  anon-forum/src/controllers/HomeController.ts
  anon-forum/src/controllers/PostController.ts
  anon-forum/src/controllers/UserController.ts
  anon-forum/src/controllers/index.ts
  anon-forum/src/db/index.ts
  anon-forum/src/index.ts
  anon-forum/src/interfaces/comment.ts
  anon-forum/src/interfaces/errors/index.ts
  anon-forum/src/interfaces/index.ts
  anon-forum/src/interfaces/post.ts
  anon-forum/src/interfaces/user.ts
  anon-forum/src/interfaces/vendor/express.ts
  anon-forum/src/middlewares/authenticator.ts
  anon-forum/src/middlewares/errorHandler.ts
  anon-forum/src/middlewares/index.ts
  anon-forum/src/middlewares/timeLogger.ts
  anon-forum/src/redis/index.ts
  anon-forum/src/routes/constants.ts
  anon-forum/src/routes/index.ts
  anon-forum/src/utils/getEmailFromToken.ts
  anon-forum/tsconfig.json
  anon-forum/yarn.lock
Due: prettier --write, eslint --fix

init typeorm playground
  .gitignore
  typeorm-playground/.gitignore
  typeorm-playground/README.md
  typeorm-playground/package-lock.json
  typeorm-playground/package.json
  typeorm-playground/src/data-source.ts
  typeorm-playground/src/entity/Photo.ts
  typeorm-playground/src/entity/User.ts
  typeorm-playground/src/index.ts
  typeorm-playground/tsconfig.json
Due: prettier --write, eslint --fix

add missing yarn file
  typeorm-playground/yarn.lock
Due: none

get started with a very simple test
  .gitignore
  anon-forum/jest.config.js
  anon-forum/package.json
  anon-forum/src/controllers/__tests__/sample.test.ts
  anon-forum/src/controllers/sample.ts
  anon-forum/yarn.lock
Due: eslint --fix

refactor simple HomeService
  anon-forum/jest.config.js
  anon-forum/package.json
  anon-forum/src/controllers/HomeController.ts
  anon-forum/src/controllers/__tests__/sample.test.ts
  anon-forum/src/controllers/sample.ts
  anon-forum/src/services/HomeService.ts
  anon-forum/src/services/UserService.ts
  anon-forum/src/services/__tests__/HomeService.test.ts
  anon-forum/src/services/index.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{md,html,css}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
